{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

  
<body>

  <header class="bg-white md:sticky flex justify-center top-0 z-10 shadow-xl">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row justify-center items-center">
      <a class="title-font font-bold flex justify-center  text-gray-900 mb-4 md:mb-0">
      <a href="#Home" class="text-xl font-bold">
      Amal Library
      </a>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex  items-center  ">
      <div class="flex ">
      <div>
      <a href="{% url 'Blogpage' %}" class="mr-5 hover:text-green-600">
      Home
      </a>
      <a href="{% url 'Questionpool' %}" class="mr-5 hover:text-green-600">
      Question Bank
      </a>
      <a href="{% url 'Bookstall' %}" class="mr-5 hover:text-green-600">
      Books
      </a>
      </div>
      </div>
    </nav>
    <a href="{% url 'Adminlogin' %}" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-green-600 rounded text-base text-white mt-4 md:mt-0">
      Login
      
    </a>
    </div>
  </header>

<div class="flex bg-gray-200 ">
    <aside class="flex px-16 space-y-16 overflow-hidden m-3 pb-4 flex-col fixed items-center justify-center rounded-tl-xl rounded-bl-xl shadow-lg bg-gray-800 ">
      <div class="flex items-center justify-center p-4 shadow-lg">
        {% comment %} <div>
          <img src="https://i.imgur.com/c6U7KtF.png" alt="" class="h-8 mb-2" />
        </div> {% endcomment %}
        <h1 class="text-white font-bold mr-2 cursor-pointer">AMALLIB</h1>
      </div>
      <ul>
        <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" /></svg><a href="">Dashboard</a>
        </li>
        <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4" /></svg><a href="">Blog</a>
        </li>
        <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg><a href="">Questionpool</a>
        {% comment %}</li>
        <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg><a href="">Coaches</a>
        </li>
         <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" /></svg><a href="">Exercise Plan</a>
        </li> {% endcomment %}
        <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" /></svg><a href="">Books</a>
        </li> 


        <li class="flex space-x-2 mt-4 px-6 py-4 text-white hover:bg-white hover:text-green-600 font-bold hover:rounded-br-3xl transition duration-100 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" /></svg><a href="">Settings</a>
        </li>
      </ul>
    </aside>
</div>
    {% block body %}

    {% endblock %}
  

</body>
</html>