{% extends 'base.html' %}
{% load static %}
{% block body %}



<form action="Broughtbooks" method="post" enctype="multipart/form-data">
    
{% csrf_token %}
    <div class="form-group">
        <label for="title">username</label>
        <input type="text" class="form-control" id="title" name="username" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="author">book number</label>
        <input type="text" class="form-control" id="author" name="booknumber" placeholder="Enter author">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>






{% endblock %}